@media only screen and (max-width: 767px){
    .main-content-wrapper .cart-table-area {
        min-width: 100%;
    }
}
.noOrders{
    font-size: 18px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cart-summary ul li {
    color: #444;
    margin: 3px 0;
}
.cart-summary ul li span{
   color: #222;
   text-transform: uppercase;
}