<div class="hero" [ngClass]="{pageLoading: loading || loginSuccess}">
  <div class="login">
    <form [formGroup]="loginform" (ngSubmit)="login(loginform)">
      <h1>Login</h1>

      <div class="form_field">
        <input formControlName="email" type="email" required placeholder="email" />
        <label for="">Email</label>
      </div>

      <div class="form_field">
        <input formControlName="password" type="password" required placeholder="password" />
        <label for="">Password</label>
      </div>

      <p class="wrongInfo" *ngIf="message">The email or password you entered is invalid</p>

      <input [disabled]="loginform.invalid" type="submit" value="Login" />
      <div class="change">don't have an account? <a routerLink="/signup">sign up</a></div>
    </form>

  </div>
</div>
<div class="alert alert-success"  role="alert" *ngIf="loginSuccess">
  <h3 class="alert-heading">Login success!</h3>
  <p class="text-center">please wait, you will be redirected to home page in 5 seconds</p>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="spinner-border loading" role="status" *ngIf="loading">
  <span class="sr-only">Loading...</span>
</div>


