
<app-header></app-header>
<div class="main-content-wrapper d-flex clearfix">
  <app-navbar></app-navbar>
  
  <div class="main">
    <div class="container">
        <img src="../../assets/imgs/core-img/checked.png" class="success-img"/>
        <div class="thankyou">thank you</div>
        <div class="success_message">your order has been send successfuly</div>
        <button style="border: none"><a routerLink="/orders" class="btn amado-btn">check your orders</a></button>
    </div>
  </div>
</div>

<app-footer></app-footer>

