<app-header></app-header>
<div class="main-content-wrapper d-flex clearfix">
  <app-navbar></app-navbar>
  <!-- Product Details Area Start -->
  <div class="single-product-area section-padding-100 clearfix">
    <div class="text-center w-100" *ngIf="loader">
      <app-loader></app-loader>
    </div>
      <div class="container-fluid" *ngIf="!loader">

          <div class="row">
              <div class="col-12">
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb mt-50">
                          <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                          <li class="breadcrumb-item"><a routerLink="/products">{{product.category}}</a></li>
                          <li class="breadcrumb-item"><a routerLink="/products">{{product.brand}}</a></li>
                          <li class="breadcrumb-item active" aria-current="page">{{product.title}}</li>
                      </ol>
                  </nav>
              </div>
          </div>
          <div class="row">
              <div class="col-12 col-lg-7">
                  <div class="single_product_thumb">
                      <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                          <ol class="carousel-indicators">
                              <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({{product.image}});">
                              </li>
                              <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url({{product.image}});">
                              </li>
                              <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url({{product.image}});">
                              </li>
                              <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url({{product.image}});">
                              </li>
                          </ol>
                          <div class="carousel-inner">
                              <div class="carousel-item active">
                                  <a class="gallery_img" href="{{product.image}}">
                                      <img class="d-block w-100" src="{{product.image}}" alt="First slide">
                                  </a>
                              </div>
                              <div class="carousel-item">
                                  <a class="gallery_img" href="{{product.image}}">
                                      <img class="d-block w-100" src="{{product.image}}" alt="Second slide">
                                  </a>
                              </div>
                              <div class="carousel-item">
                                  <a class="gallery_img" href="{{product.image}}">
                                      <img class="d-block w-100" src="{{product.image}}" alt="Third slide">
                                  </a>
                              </div>
                              <div class="carousel-item">
                                  <a class="gallery_img" href="{{product.image}}">
                                      <img class="d-block w-100" src="{{product.image}}" alt="Fourth slide">
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-lg-5">
                  <div class="single_product_desc">
                      <!-- Product Meta Data -->
                      <div class="product-meta-data">
                          <div class="line"></div>
                          <p class="product-price">${{product.price}}</p>
                          <h6 style="font-size: 25px;">{{product.title}}</h6>
                          <!-- Avaiable -->
                          <p class="avaibility" *ngIf="product.count > 0"><i class="fa fa-circle"></i> In Stock</p>
                          <p class="avaibility" *ngIf="product.count == 0"><i class="fa fa-circle" style="color: red;"></i> Out Of Stock</p>
                      </div>

                      <div class="short_overview my-5">
                          <p>{{product.description}}</p>
                      </div>

                      <!-- Add to Cart Form -->
                      <div class="cart clearfix" method="post">
                          <div class="cart-btn d-flex mb-50" *ngIf="add">
                              <p>Qty</p>
                              <div class="quantity">
                                  <input type="number" [(ngModel)]="amount" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
                                  <button class="btn btn-dark" (click)="addToCart()">Add</button>
                              </div>
                          </div>
                          <button name="addtocart" class="btn btn-dark" (click)="add = true" [disabled]="product.count == 0  " style="width: 300px; padding: 20px">Add to cart</button>
                        </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Product Details Area End -->
  <div class="alert alert-success" *ngIf="success" style="position: fixed; top: 10px; right: 10px; z-index: 10000;">Added Successfuly</div>

</div>

<app-footer></app-footer>



<!-- ##### Main Content Wrapper End ##### -->



