<app-header></app-header>
<div class="main-content-wrapper d-flex clearfix">
    <app-admin-navbar></app-admin-navbar>
    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-title">
                            <h2>Manage Categories</h2>
                        </div>

                        <div class="row">
                            
                            <form class="container" [formGroup]="categoryForm">
                                <h1 class="text-center text-primary pt-5">Add New Category</h1>
                                
                                <div class="form-group mt-4">
                                    <input id="title" class="form-control" formControlName="title" type="text" name="pro-name" maxlength="20" placeholder="Category Title"> 
                                </div>
                                <button id="foradd" class="btn btn-primary w-25 p-3" *ngIf="addButton" (click)="addCategory(categoryForm)">Add Category</button>
                                <button id="forupdate" class="btn btn-warning w-25 p-3" (click)="updateCategory(categoryForm)" *ngIf="updateButton">Update Category</button>
                            </form>   
                        </div>


                        <div class="col-md-9">
                            <h3 class="categoryTitle">Categories</h3>
                        </div>
                        <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
                        <!-- Cards Area Start -->
                        <div class="row">
                            <div  class="col-lg-4 col-md-5 col-sm-6 mb-3"  *ngFor="let i of allCategory">
                                <div *ngIf="searchText === '' || i.title.toLowerCase().includes(searchText)" >
                                    <div class="card h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">{{i.title}}</h5>
                                    </div>
                                    <div class="card-footer">
                                        <div class="btn-toolbar" role="toolbar">
                                            <button type="button" (click)="fillForm(i)" class="btn btn-primary btn-sm mr-1">Edit Info</button>
                                            <button type="button" (click)="deleteCategory(i._id)" class="btn btn-danger btn-sm">Remove</button>
                                        </div>
                                    </div>
                                    </div>
                                </div> 
                            </div>
                        </div>  
                        <!-- ##### Main Content Wrapper End ##### -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-admin-footer></app-admin-footer>







    